//Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

//Desktops and laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

//Tablets
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 12rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      //background: url("../img/portrait_small.jpg");
      width: 150px;
      height: 150px;
    }
  }

  /*.about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }*/

  .about-heading {
    h1 {
      font-size: 6rem;
    }
  }

  .section-heading {
    font-size: 3rem;
  }
}

//Phones
@include mediaSm {
  main {
    .lg-heading {
      font-size: 5rem;
    }
    .sm-heading {
      font-size: 1.4rem;
    }
  }

  section {
    padding: 3rem;
  }

  img {
    width: 80%;
  }

  .about {
    .container {
      flex-direction: column;
      .profile-img {
        margin: 0 0 7rem 0;
      }
    }
  }

  .portfolio-item {
    flex-direction: column;
  }

  .porfolio-img {
    margin: 0 0 2rem 0;
    order: 1;
  }

  .portfolio-description {
    margin: 0;
    order: 2;
    p {
      font-size: 1.5rem;
    }
  }

  .menu-btn {
    //position: fixed;
    //right: 10rem;
  }

  form {
    width: 100%;
  }

  .up {
    right: 2rem;
  }

  /*.projects {
    grid-template-columns: repeat(1, 1fr);
  }*/
}
