//Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

//Desktops and laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

//Tablets
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
      font-size: 12rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      //background: url("../img/portrait_small.jpg");
      width: 150px;
      height: 150px;
    }
  }

  /*.about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }*/

  .about-heading {
    h1 {
      font-size: 6rem;
    }
  }

  .section-heading {
    font-size: 3rem;
  }
}

//Phones
@include mediaSm {
  main {
    .lg-heading {
      font-size: 5rem;
    }
    .sm-heading {
      font-size: 1.4rem;
    }
  }

  section {
    padding: 3rem;
  }

  img {
    width: 80%;
  }

  .about {
    .container {
      flex-direction: column;
      .profile-img {
        margin: 0 0 8rem 0;
      }
    }
  }

  .portfolio-item {
    flex-direction: column;
    margin: 0 auto;
  }

  .portfolio-img {
    margin: 0 auto 2rem auto;
    order: 1;
    align-content: center;
    width: 100%;
    &.has-margin-right {
      margin: 0 auto 2rem auto;
    }
  }

  .portfolio-description {
    margin: 0;
    order: 2;
    p {
      font-size: 1.5rem;
    }
    &.has-margin-right {
      margin-right: 0;
    }
  }

  .menu-btn {
    right: 20px;
    .btn-line {
      width: 15px;
      height: 1.5px;
      margin: 0 0 3px 0;
    }

    //Rotate into X with menu lines
    &.close {
      transform: rotate(180deg);

      .btn-line {
        // Line 1 - Rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(3px, 2px);
        }

        //Line 2 - Hide
        &:nth-child(2) {
          opacity: 0;
        }

        //Line 3 - Rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(4px, -4px);
        }
      }
    }
  }

  form {
    width: 100%;
  }

  .up {
    right: 2rem;
  }

  /*.projects {
    grid-template-columns: repeat(1, 1fr);
  }*/
}
